/*html,body { user-select: none; -moz-user-select: none; -webkit-user-select: none; }*/
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
select,
textarea,
form {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif,Microsoft YaHei;
  /* font-size: 0.32rem; */
  background: #eee;
}
li {
  list-style: none;
}
img {
  border: none;
  display: block;
  width: 100%;
}
input,
select,
textarea,
button {
  outline: none;
  border: none;
  background-color: transparent;
}
input,
button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body * {
  -webkit-text-size-adjust: 100%;
}
input,
button {
  -webkit-appearance: none;
}
em,
i,
dfn {
  font-style: normal;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
  color: #666;
}
a:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
button {
  cursor: pointer;
  transition: 0.5s;
}
button:focus {
  border: none;
  outline: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
/*娴姩*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear:after,
.clear:before {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}

.slideUp-enter,
.slideUp-leave-to {
  transform: translateY(0);
}
.slideUp-enter-active {
  animation: slideInUp 0.3s ease;
}
.slideUp-leave-active {
  animation: slideOutUp 0.3s ease;
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 1;
  }
}

.selectC {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  height: 78%;
}
.nowrap{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.noData {
  margin-top: 2.8rem;
  text-align: center;
}
.noData img {
  width: 2.9rem;
  margin: 0 auto;
}
.noData span {
  font-size: 0.28rem;
  color: #666;
}
.mint-loadmore-bottom span {
  display: inline-block;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  vertical-align: middle;
}

.mint-loadmore-bottom span.is-rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.loading-txt,.loadmore-tip,.nomore {
  font-size: 0.26rem;
  color: #666;
  text-align: center;
}
.nomore{
  margin-bottom: .2rem;
}
.confirm{
  width: 90%;
  height: .9rem;
  text-align: center;
  color: #fff;
  background: #333;
  font-size: .3rem;
  margin: 1rem auto 0;
  display: block;
  border-radius: 4px;
}
.mint-msgbox-confirm{
  background: #333;
  color: #fff;
}